@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>
    I have brought some samples for Jquery from its <a href="http://jqueryui.com">website</a> which is helpful in web development. I am going to put some more, the ones I developed.
</p>

